<ul class="nav nav-pills flex-column">
    <li class="nav-item">
        <a class="nav-link" asp-action="index" asp-controller="insurance" active-url="insurance">Contact</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-action="quote" asp-controller="auto" active-url="auto">Auto</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-action="quote" asp-controller="property" active-url="property">Property</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="life" active-url="life">Disability</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-action="quote" asp-controller="rent" active-url="rent">Rent</a>
    </li>
</ul>
